@page
@model WebApplication4.Pages.Shared.Index2Model
@{
}

<body style="background-color: greenyellow">

    <h1>Página - Index 2</h1>
    <br />
    <br />
    <br />
    <img src="~/imagens/IMAGEM_03.jpg" />
    <br />
    <br />
    <br />
    <img src="~/imagens/IMAGEM_03.jpg" style="height:200px; width:200px" />
    <br />
    <br />
    <br />
    <img src="~/imagens/IMAGEM_06.jpg" />
    <br />
    <br />
    <br />
    <img src="~/imagens/IMAGEM_06.jpg" style="height:200px; width:200px" />
    <br />
    <br />
    <br />
    <img src="~/imagens/IMAGEM_08.jpg" />
    <br />
    <br />
    <br />
    <img src="~/imagens/IMAGEM_08.jpg" style="height:200px; width:200px" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>F       I        M</h1>
</body>